* {
	padding: 0;
	margin: 0;
}
body {
	background-image: url(images/bg-pattern-top-desktop.svg), url(images/bg-pattern-bottom-desktop.svg);
	background-position: left top, right bottom;
	background-repeat: no-repeat, no-repeat;
	font-size: 15px;
	font-family: "Spartan", sans-serif;
	color: hsl(303, 10%, 53%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0px;
	font-size: 55px;
	line-height: 1;
	font-weight: 700;
	color: hsl(300, 43%, 22%);
}
p {
	margin: 0px;
}
/* Grid-Container */
.grid-container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-auto-rows: auto;
}
/* Top haeding layer */

#top-container {
	display: flex;
	margin: 100px auto;
}

.heading {
	grid-column: 2 / span 4;
	line-height: 1.5;
}

.text {
	margin-top: 15px;
}

.rating {
	grid-column: 7 / span 5;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.rating-box {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 70%;
	height: 20%;
	background-color: hsl(300, 24%, 96%);
	border-radius: 10px;
	padding: 1% 3% 1% 3%;
}
.rated-customer-1 {
	align-self: flex-start;
}
.rated-customer-2 {
	align-self: center;
}
.rated-customer-3 {
	align-self: flex-end;
}

.star {
	display: flex;
	padding: 1% 1%;
	flex-wrap: nowrap;
}
[src="images/icon-star.svg"] {
	margin: 0 2px;
}
.rating-text {
	margin: 0 3%;
	font-weight: 700;
	color: hsl(300, 43%, 22%);
}

.grid-bottom-container {
	display: grid;
	grid-template-columns: 1fr 3fr 3fr 3fr 1fr;
	grid-auto-rows: auto;
	column-gap: 1%;
}

/* bottom-container */
#bottom-container {
	color: hsl(0, 0%, 100%);
	line-height: 1.5;
}

.customer-1 {
	grid-column: 2;
}
.customer-2 {
	position: relative;
	top: 15px;
}
.customer-3 {
	position: relative;
	top: 30px;
}

.customer-box {
	padding: 10%;
	border-radius: 10px;
	background-color: hsl(300, 43%, 22%);
}
.user-info {
	display: flex;
	align-items: center;
}
[alt="customer-image"] {
	width: 45px;
	border-radius: 100px;
}
.customer {
	margin-left: 20px;
}
.name {
	font-weight: 700;
}
.verifey {
	font-weight: 400;
	color: hsl(333, 80%, 67%);
}
.description {
	margin-top: 20px;
}

/* @media Responsive */

@media screen and (max-width: 800px) {
	.rating-box {
		flex-direction: column;
	}
	.rating-text {
		margin-top: 4%;
	}
	.rated-customer-1 {
		align-self: center;
	}
	.rated-customer-2 {
		align-self: center;
	}
	.rated-customer-3 {
		align-self: center;
	}
}

@media screen and (max-width: 600px) {
	body {
		background-image: url(images/bg-pattern-top-mobile.svg), url(images/bg-pattern-bottom-mobile.svg);
		background-position: left top, right bottom;
		background-repeat: no-repeat, no-repeat;
	}
	#top-container {
		text-align: center;
	}
	.heading {
		grid-column: 2 / span 10;
	}
	.rating {
		height: 300px;
		margin-top: 50px;
		grid-column: 2 / span 10;
	}
	.rating-box {
		width: 94%;
		height: 25%;
		line-height: 25px;
	}

	.customer-1 {
		grid-column: 2 / span 3;
	}
	.customer-2 {
		grid-column: 2 / span 3;
	}
	.customer-3 {
		grid-column: 2 / span 3;
	}
}
